.forecast-item {
  align-items: center;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
}

.forecast-item > i {
  font-size: 2em;
  padding: 8px 0;
}

.forecast-precipitation {
  display: flex;
  flex-direction: row
}

.forecast-container {
  min-height: 148px;
}
