.weather-location {
  display: flex;
  justify-content: space-between;
}

.city-input {
  text-align: center;
}

.city-field {
  text-align: center;
  justify-content: center;
}

.city-input-error {
  text-align: center !important;
}
