.weather-location {
  display: flex;
  justify-content: space-between;
}

.city-input {
  text-align: center;
}

.city-field {
  text-align: center;
  justify-content: center;
}

.city-input-error {
  position: absolute;
  text-align: center !important;
  left: 20%;
  top: 80%;
}

.location-icon-spin {
  animation-name: ckw;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* Things added */
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  /* <--- */
}

@keyframes ckw {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
